1. 데이터 집합 불러오기

1) read_csv

데이터 집합을 읽어들여와 데이터프레임으로 반환


2) sep='\t'

sep 속성값이 탭이라는 뜻. 'csv' = comma seperated value, 즉 콤마를 기준으로 나뉜 데이터. 따라서 read_csv 메소드를 통해 탭을 기준으로 나뉜 tsv 파일을 읽어줄 때는 열이 탭으로 구분되어있다고 알려주어야 함.


3) 데이터 집합을 불러올 때 발생할 수 있는 에러 코드

- unicode error
: 파일 경로를 파일 속성에서 그대로 가져올 경우, /가 \로 표기되어 있으므로 제대로 읽히지 않음


- [Errno 13] Permission denied
: 파일 경로가 틀렸거나, 파일이 존재하지 않거나, 작업 환경 외 다른 곳에서 열려있을 경우 발생하는 에러. 파일 경로를 파일 속성에서 그대로 가져올 경우, 파일의 상위 경로까지만이 적혀있으므로 뒤에 파일 이름 및 저장 형식도 끝까지 적어주어야 함.

In [8]:
#데이터 집합 불러오기

import pandas as pd

df = pd.read_csv('C:/Users/whtnq/OneDrive/바탕 화면/데이터분석 스터디/doit_pandas-master/data/gapminder.tsv', sep='\t')

df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

2. 시리즈와 데이터 프레임

1) 시리즈

시트의 열 한 개

2) 데이터 프레임

시리즈가 각 요소가 되는 딕셔너리. 엑셀의 시트와 동일 개념.

3) 자료형 이름 비교 - 판다스 vs. 파이썬

- 문자열 - object vs. string

- 정수 - int64 vs. int

- 소수점 가진 숫자 - float64 vs. float

- 파이썬 표준 라이브러리 datetime이 반환하는 자료형 - datetime64 vs. datetime

In [12]:
# head 메소드: 가장 앞에 있는 5개 행 출력 - 불러온 데이터 집합 살펴볼 때 사용

df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
# type 메소드: 데이터의 자료형 반환해주는 파이썬 내장 메소드

type(df)

pandas.core.frame.DataFrame

In [13]:
# shape 속성: 데이터의 행과 열의 크기에 대한 정보를 리스트로 반환해주는 나타내주는 속성. 메소드 아님!

df.shape

(1704, 6)

In [15]:
# columns 속성: 데이터프레임의 열 이름 전부와 그 자료형을 반환

df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [28]:
# dtypes 속성: 열을 기준으로 데이터 프레임을 구성하는 값의 자료형 반환
# info 메소드: dtypes와 마찬가지로 데이터 프레임을 구성하는 값의 자료형을 반환하나, 조금 더 자세한 정보까지 반환 ex. 총 행의 개수, null값의 유무ㅡ 메모리 크기 등

df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

2. 데이터 추출하기

1) 열 단위 데이터 추출

- 대괄호와 열 이름을 사용해 접근, 열 이름은 꼭 작은따옴표를 사용해 지정
- 추출한 열은 변수에 저장해서 사용 가능
- 1개의 열만 추출하면 시리즈를, 2개 이상의 열을 추출하면 데이터프레임을 얻을 수 있음

2) 데이터 추출 시 발생할 수 있는 에러 코드
- keyerror: 존재하지 않는 인덱스에 접근하려고 할 때 발생하는 에러. 두 개 이상의 열을 추출하는 과정에서 대괄호를 한 번만 쓸 경우 발생함.

In [31]:
# country 열 하나만 추출하기 - 시리즈 형식으로 반환
country_df = df['country']

country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [32]:
# head와 tail 메소드를 통해 상단 5개와 하단 5개의 데이터에 각각 접근할 수 있다

country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [33]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [36]:
#country, comtinent, year 총 세 가지 열 추출하기 - 데이터프레임 형태로 반환

subset = df[['country', 'continent', 'year']]

subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

2. 행 단위 데이터 추출

1) loc 속성

인덱스를 기준으로 행 데이터 추출. tail 메소드가 데이터 프레임을 반환하는 것과 달리, loc 속성은 시리즈를 반환


2) iloc 속성

행 번호를 기준으로 행 데이터 추출


3) 판다스에서의 인덱스와 행 번호의 차이
- 인덱스: 데이터 집합 맨 왼쪽 번호. 보통 0부터 시작하지만 행 데이터의 추가 및 삭제에 따라 언제든 변동 가능. 숫가자 아닌 문자열로도 지정 가능.
- 행 번호: 자료형에 저장된 데이터의 순서. 정수만으로 데이터를 조회하거나 추출할 수 있으며, 실제 데이터 프레임에서는 확인할 수 없는 값.

In [38]:
# loc 속성: 인덱스를 전달하면 행 데이터 추출 가능

df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [43]:
#마지막 행 추출: shape[0]에 행 크기가 저장되어 있다는 점 이용

df.loc[df.shape[0]-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [44]:
#iloc 속성: 행 번호 기준으로 데이터 추출
#음수 사용 가능하나, 아예 존재하지 않는 행 번호 전달 시 인덱스 에러 발생

df.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [45]:
#iloc으로 복수 행 추출

df.iloc[[0,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

3. loc과 iloc을 이용, 데이터의 행과 열을 지정해 추출하기

1) 슬라이싱 구문 활용
- loc 속성 열 지정값에 정수 리스트 전달하거나, iloc 속성의 열 지정값에 문자열 리스트 전달 시 오류
- 간편하다는 장점 ex. list(range(3))=[:3]


2) range 메소드 활용
- range 메소드: 지정한 범위의 제너레이터를 반환 (정수 리스트X)
- iloc 속성은 리스트 타입을 통해 데이터를 추출할 수 있으므로, list(range(5))와 같이 리스트로 변환해 사용
- range(0,6,2)와 같이, 0부터 5까지 2씩 건너뛰는 제너레이터를 활용할 수도 있음

In [46]:
#iloc 속성으로 0,99,999번째 행의 0,3,5번쨰 열 데이터 추출
#코드에 열 이름이 나타나지 않아 어떤 데이터를 추출하기 위한 코드인지 헷갈릴 수 있음

df.iloc[[0,99,999],[0,3,5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [47]:
# 따라서 loc 속성을 사용하면 열 지정값으로 열 이름을 전달해 가시성을 높일 수 있다.

df.loc[[0,99,999],['country','lifeExp','gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [48]:
# 모두 응용해보기 - 인덱스 10~13인 행의 다음 세 가지 열 추출하기

df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244